{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="row">
                <div class="container-fluid d-flex flex-column flex-md-row justify-content-between">
                    <a class="logo navbar-brand" href="/">iToys</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Магазин
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="dropdown-item">
                                        <div class="title">Книжки 21*21см</div>
                                        <a href="{% url 'toy:big-books-full' %}" style="display:flex; padding-left: 10px">- Готовые</a>
                                        <a href="{% url 'toy:big-books-covers' %}" style="display:flex; padding-left: 10px">- Обложки</a>
                                        <a href="{% url 'toy:big-books-pages' %}" style="display:flex; padding-left: 10px">- Странички</a>
                                    </div>
                                    <a class="dropdown-item" href="{% url 'toy:mini-books' %}">Книжки 13*13см</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a class="nav-link" href="#">Корзина (товаров 0) <span class="sr-only">(current)</span></a>
                </div>

            </div>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
    <footer class="navbar navbar-light bg-dark">
        <div class="footer container-fluid">
            <div class="copy">iToys, Все права защищены</div>
        </div>
    </footer>
</body>
</html>